<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SGARB-AI Image Classifier</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

    <!--  Custom CSS -->
    <link rel="stylesheet" href="../static/style.css">

    <!-- Custom JavaScript -->
    <script src="../static/script.js" defer></script>

    <!-- Bootstrap core CSS -->
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="https://getbootstrap.com/docs/4.0/examples/cover/cover.css" rel="stylesheet">

</head>

<body class="text-center">
<div class="d-flex h-100 p-3 flex-column">
    <header class="masthead mb-auto position-relative">
        <div class="inner">
            <!-- Logo positioned in the top-left corner -->
            <img src="../static/images/logo_2su1_w.png" alt="SGARB-AI" class="logo">

            <!-- Navigation centered -->
            <nav class="nav">
                <a class="nav-link active" href="#">Home</a>
                <a class="nav-link" href="#">Features</a>
                <a class="nav-link" href="#">Contact</a>
            </nav>
        </div>
    </header>
    <main role="main" class="inner cover">
        <div class="row g-5 align-items-center" style="max-height: 500px">
            <!-- Left block -->
            <div id="left-block" class="block">
                    <div class="percentage-block left" id="block_perc_left">
                        <div>IA</div>
                        <div id="perc-IA"></div>
                    </div>
                <img src="../static/images/goat.png" alt="SGARB-AI" class="image">
            </div>

            <!-- Center block -->
            <div class="col-12 col-md-6 text-center">
                <div class="block">
                    <div id="image-placeholder" class="image-placeholder d-flex justify-content-center align-items-center mb-3">
                        <p>Inserisci immagine</p>
                    </div>
                    <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data" class="d-grid gap-2">
                        <input type="file" name="file" id="file" class="form-control" required>
                        <button type="submit" class="btn btn-success">Carica</button>
                    </form>
                    <!-- Blocchi percentuali aggiunti qui -->
                </div>
            </div>

            <!-- Right block -->
            <div id="right-block" class="block">
                <div class="percentage-block right" id="block_perc_right">
                    <div>REAL</div>
                    <div id="perc-Real"></div>
                </div>
                <img src="../static/images/human.png" alt="SGARB-AI" class="image">
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="mastfoot mt-auto">
        <div class="inner">
            <p>&copy; 2025 SGARB-AI. Tutti i diritti non ne abbiamo, siamo ritardati.</p>
        </div>
    </footer>
</div>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</body>

</html>
